@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Oswald', sans-serif; */
font-family: 'PT Sans Narrow', sans-serif;
}

/* video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */

body {
  background: url(./Images/bg.jpg);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  width: 90%;
  max-width: 500px;
  /* background: linear-gradient(to right, #a044ff, #6a3093);
  color: aliceblue; */
  color: #ebfffc;
background: rgba( 190, 186, 195, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 2px solid rgba( 255, 255, 255, 0.18 );
  margin: 100px auto 0 ;
  border-radius: 15px;
  padding: 40px 35px;
  text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 12px 30px;
    height: 40px;
    border-radius: 15px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 20px;
}

.weather{
    margin-top: 40px;
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    display: none;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather img{
    width: 150px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
